
.navbar {
  width: 240px;
  height: 100vh;
  background-color: #ffffff;
  border-right: 1px solid #e0e6ed;
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  position: fixed;
  left: 0;
  top: 0;
}

.logo {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  
}

.logo p {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 16px; 
}


.menu a {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  text-decoration: none;
  color: black; 
  font-size: 0.95rem;
  font-weight: 500;
  border-radius: 10px;
  transition: all 0.25s ease;
}


.menu a i {
  width: 24px;
  margin-right: 12px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
}


.menu a:hover {
  background-color: rgba(0, 0, 0, 0.03);
  color: #4a5568;
}

.menu a.active {
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-weight: 600;
}


.menu li:last-child a {
  margin-top: 20px;
  color: black; 
}

.menu li:last-child a:hover {
  background-color: rgba(0, 0, 0, 0.03);
   color: #4a5568;
}

.menu a.active::after {
  content: '\f054'; 
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-left: auto;
  font-size: 0.7rem;
  color: #adb5bd;
}
