
main.content {
  padding: 20px 20px; 
}


header {
 padding: 0px 0px;
 margin: 0px 20px;
}


.navbar-content {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo {
  font-size: 24px;
  font-weight: bold;
  color: black; 
}


.nav-links {
  display: flex;
  align-items: center;
  gap:40px; 
}

.nav-item {
  font-size: 16px;
  color: black;
  text-decoration: none;
  transition: color 0.2s;
}

.nav-item:hover {
  color: #0ec2a4; 
}

.active-nav-item{
    background-color:#ddf5f0;
    color: #0ec2a4;
    border-radius: 50px;
    padding: 10px 20px;
    transition: color 0.2s;
}


.button{
  display: flex;
  align-items: center;
  gap: 20px; 
}

.login-btn{
  font-size: 16px;
  color: black;
  text-decoration: none;
  transition: color 0.2s;
  background-color: #F2F2F2;
  border-radius: 50px;
  padding: 10px 20px;
  transition: color 0.2s;
}

.login-btn:hover {
  color: black;
  background-color:#DADADA; 
}

.register-btn{
  font-size: 16px;
  color: white;
  text-decoration: none;
  transition: color 0.2s;
  background-color: #0ec2a4;
    border: solid 0.5px #0ec2a4;
    border-radius: 50px;
    padding: 10px 20px;
    transition: color 0.2s;
}

.register-btn:hover {
  color:#6fd4be; 
}



/*---------------------------------------------*/


.profile-wrapper {
  position: relative; 
  cursor: pointer;
}

.profile-img, .profile-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #667a86;
  color: white;
}

.dropdown {
    position: absolute;
    top: 100%; 
    right: 0;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    margin-top: 10px;
    min-width: 200px;
    z-index: 1001;
}

.dropdown button,
.dropdown a {
    display: block;
    width: 100%;
    text-align: left;
    padding: 18px 18px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color:black;
    text-decoration: none; 
    transition: background-color 0.2s;
}

.dropdown button:hover,
.dropdown a:hover {
    background-color: #f1f1f1;
    border-radius: 10px 10px 0 0;
}

.dropdown .logout {
    color: black; 
    font-weight: 500;
    border-top: 1px solid #f1f1f1;
}

.dropdown .logout:hover {
    background-color: #f1f1f1;
    border-radius: 0 0 10px 10px;
}

.icon{
  margin-right: 18px;
}

.fa-circle-user{
  font-size: 20px;
}
.fa-gear{
  font-size: 20px;
}
.fa-arrow-right-from-bracket{
  font-size: 20px;
}