<!-- <div class="register-container">
  <h2>สมัครสมาชิก</h2>

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>ชื่อ<span class="star">*</span></label>
      <input
        type="text"
        [(ngModel)]="registerData.first_name"
        name="first_name"
        placeholder="กรุณากรอกชื่อ"
        required
      />
    </div>

    <div class="form-group">
      <label>นามสกุล<span class="star">*</span></label>
      <input
        type="text"
        [(ngModel)]="registerData.last_name"
        name="last_name"
        placeholder="กรุณากรอกนามสกุล"
        required
      />
    </div>

    <div class="form-group">
      <label>อีเมล<span class="star">*</span></label>
      <input
        type="email"
        [(ngModel)]="registerData.email"
        name="email"
        placeholder="example@email.com"
        required
      />
    </div>

    <div class="form-group">
      <label>รหัสผ่าน<span class="star">*</span></label>
      <div class="password-wrapper">
        <input
          [type]="showPassword ? 'text' : 'password'"
          [(ngModel)]="registerData.password"
          name="password"
          placeholder="อย่างน้อย 8 ตัวอักษร"
          required
          minlength="8"
        />
        <button
          type="button"
          class="toggle-password"
          (click)="showPassword = !showPassword"
          tabindex="-1"
        >
          <i
            [class]="showPassword ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"
          ></i>
        </button>
      </div>
    </div>

    <div class="form-group">
      <label>เบอร์โทรศัพท์<span class="star">*</span></label>
      <input
        type="text"
        [(ngModel)]="registerData.phone_number"
        name="phone_number"
        placeholder="08X-XXX-XXXX"
      />
    </div>

    <div class="form-group">
      <label>วันเกิด<span class="star">*</span></label>
      <input
        type="date"
        [(ngModel)]="registerData.date_of_birth"
        name="date_of_birth"
      />
    </div>

    <button type="submit" class="btn-submit">สมัครสมาชิก</button>
    <div class="login-link">
      <span>มีบัญชีอยู่แล้ว? </span><a routerLink="/login">เข้าสู่ระบบ</a>
    </div>
  </form>
</div> -->

<div class="register-container">
  <h2>สมัครสมาชิก</h2>

  <div class="error center" *ngIf="submitError" style="margin-bottom: 15px;">
    {{ submitError }}
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
    
    <div class="form-group">
      <label for="first_name">ชื่อ<span class="star">*</span></label>
      <input
        id="first_name"
        type="text"
        formControlName="first_name"
        placeholder="กรุณากรอกชื่อ"
        [class.input-error]="f['first_name'].touched && f['first_name'].errors"
      />
      <div class="error" *ngIf="f['first_name'].touched && f['first_name'].errors">
        <span *ngIf="f['first_name'].errors['required']">กรุณากรอกชื่อ</span>
      </div>
    </div>

    <div class="form-group">
      <label for="last_name">นามสกุล<span class="star">*</span></label>
      <input
        id="last_name"
        type="text"
        formControlName="last_name"
        placeholder="กรุณากรอกนามสกุล"
        [class.input-error]="f['last_name'].touched && f['last_name'].errors"
      />
      <div class="error" *ngIf="f['last_name'].touched && f['last_name'].errors">
        <span *ngIf="f['last_name'].errors['required']">กรุณากรอกนามสกุล</span>
      </div>
    </div>

    <div class="form-group">
      <label for="email">อีเมล<span class="star">*</span></label>
      <input
        id="email"
        type="email"
        formControlName="email"
        placeholder="yourname@email.com"
        [class.input-error]="f['email'].touched && f['email'].errors"
      />
      <div class="error" *ngIf="f['email'].touched && f['email'].errors">
        <span *ngIf="f['email'].errors['required']">กรุณากรอกอีเมล</span>
        <span *ngIf="f['email'].errors['email']">รูปแบบอีเมลไม่ถูกต้อง</span>
      </div>
    </div>

    <div class="form-group">
      <label for="password">รหัสผ่าน<span class="star">*</span></label>
      <div class="password-wrapper">
        <input
          id="password"
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
          placeholder="อย่างน้อย 8 ตัวอักษร"
          [class.input-error]="f['password'].touched && f['password'].errors"
        />
        <i
          class="fa-solid"
          [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
          (click)="showPassword = !showPassword"
          title="แสดง / ซ่อนรหัสผ่าน"
        ></i>
      </div>
      <div class="error" *ngIf="f['password'].touched && f['password'].errors">
        <span *ngIf="f['password'].errors['required']">กรุณากรอกรหัสผ่าน</span>
        <span *ngIf="f['password'].errors['minlength']">รหัสผ่านต้องอย่างน้อย 8 ตัวอักษร</span>
      </div>
    </div>

    <div class="form-group">
      <label for="phone_number">เบอร์โทรศัพท์<span class="star">*</span></label>
      <input
        id="phone_number"
        type="text"
        formControlName="phone_number"
        placeholder="08X-XXX-XXXX"
        [class.input-error]="f['phone_number'].touched && f['phone_number'].errors"
      />
      <div class="error" *ngIf="f['phone_number'].touched && f['phone_number'].errors">
        <span *ngIf="f['phone_number'].errors['required']">กรุณากรอกเบอร์โทรศัพท์</span>
      </div>
    </div>

    <div class="form-group">
      <label for="date_of_birth">วันเกิด<span class="star">*</span></label>
      <input
        id="date_of_birth"
        type="date"
        formControlName="date_of_birth"
        [class.input-error]="f['date_of_birth'].touched && f['date_of_birth'].errors"
      />
      <div class="error" *ngIf="f['date_of_birth'].touched && f['date_of_birth'].errors">
        <span *ngIf="f['date_of_birth'].errors['required']">กรุณาระบุวันเกิด</span>
      </div>
    </div>

    <button type="submit" class="btn-submit">สมัครสมาชิก</button>

    <div class="link center">
      มีบัญชีอยู่แล้ว? 
      <a routerLink="/login">เข้าสู่ระบบ</a>
    </div>
  </form>
</div>